<div class="container-geral">

  <div class="container-calculadora">
    <div class="display-calculadora">
      0987654321
    </div>

    <div class="botoes-calculadora">
      <div class="botao-generico">c</div>
      <div class="botao-generico">+/-</div>
      <div class="botao-generico">%</div>
      <div class="botao-laranja">÷</div>
    </div>
    <div class="botoes-calculadora">
      <div class="botao-gray-dark">7</div>
      <div class="botao-gray-dark">8</div>
      <div class="botao-gray-dark">9</div>
      <div class="botao-laranja">x</div>
    </div>
    <div class="botoes-calculadora">
      <div class="botao-gray-dark">4</div>
      <div class="botao-gray-dark">5</div>
      <div class="botao-gray-dark">6</div>
      <div class="botao-laranja">-</div>
    </div>
   
    <div class="botoes-calculadora">
      <div class="botao-gray-dark">1</div>
      <div class="botao-gray-dark">2</div>
      <div class="botao-gray-dark">3</div>
      <div class="botao-laranja">+</div>
    </div>
    

    <div class="botoes-calculadora">
     
      <div class="botao-largo">0</div>
      <div class="botao-gray-dark">,</div>
      <div class="botao-laranja">=</div>
    </div>


  </div>


</div>